
@{
    ViewData["Title"] = "Информация";
}
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>

<h1 class="h1-styles">Инструкция по выполнению работы</h1>
<p><b>Работа по информатике состоит из двух частей, включающих в себя 15 заданий.</b></p>
<p>Часть 1 содержит 10 заданий с кратким ответом;</p>
<p>часть 2 содержит 5 заданий, которые необходимо выполнить на компьютере.</p>
<p></p>
<p><b>На выполнение работы отводится 2 часа 30 минут (150 минут).</b></p>
<p>
    Вы можете самостоятельно определять время, которое отводите на выполнение заданий, но рекомендуемое время на выполнение заданий части 1 – 30 минут, на выполнение заданий части 2 – 2 часа (120 минут).
    Ответы к заданиям 1–12 записываются в виде числа, слова, последовательности символов или цифр. Ответ запишите в поле ответа в тексте работы.
    Результатом выполнения каждого из заданий 13–15 является отдельный файл. Формат файла, его имя и каталог для сохранения Вам сообщат организаторы. При выполнении заданий можно пользоваться черновиком. Записи в черновике не учитываются при оценивании работы. Баллы, полученные Вами за выполненные задания, суммируются. Постарайтесь выполнить как можно больше заданий и набрать наибольшее количество баллов.
</p> 
<p style="text-align:center"><b>Сколько баллов дается за каждое задание?</b></p>

<p>Задания с 1 по 12 дают по 1 баллу</p>
<p>Задания 13 и 15 по 2 балла</p>
<p>Задание 14 дает 3 балла</p>

<p><b>Итого, максимальное количество баллов за ОГЭ по информатике 19.</b></p>
<p><b>Шкала баллов и оценок</b></p>
<table class="table">
    <thead>
        <tr class="table-warning">
            <th>Количество баллов</th>
            <th>Оценка</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-primary">
            <td>5-10</td>
            <td>3</td>
        </tr>
        <tr class="table-primary">
            <td>11-16</td>
            <td>4</td>
        </tr>
        <tr class="table-primary">
            <td>17-19</td>
            <td>5</td>
        </tr>
    </tbody>
</table>

<p><b>Полезные сайты:</b></p>
<p>
    Егэша.рф
    https://xn--80aff1fya.xn--p1ai/news/shkoge20/2019-09-13-304
</p>
<p>
    Решу ОГЭ
    https://inf-oge.sdamgia.ru/
</p>
<p>
    ФИПИ
    http://fipi.ru/content/otkrytyy-bank-zadaniy-oge
</p>








<style>
    .h1-styles {
        color: navy;
        text-align: center;
    }
</style>
