
@{
    ViewData["Title"] = "Instruction";
}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
<h1 class="h1-styles">Инструкция</h1>
<img class="mx-auto d-block" style="height: 270px;" src="http://pngimg.com/uploads/clock/clock_PNG6611.png"/>
<p class="p-style">На выполнение работы отводится 30 минут. По окончаниии времени Вы не сможете пройти задания и Вам будут показаны ваши результаты.</p>
<center><button class="btn btn-success start-btn" onclick="window.location.assign('/Home/Task')">Начать тестирование</button></center>
<style>
    .p-style{
        font-size: 25px;
        text-align:center
    }
    .h1-styles{
        color: navy;
        text-align:center;
    }
</style>
