
@{
    ViewData["Title"] = "Регестрация";
}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>    
<h1 class="h1-styles">Регестрация</h1>
<p class="p-style">Имя <input type="text" class="form-control" id="usr" name="username"></p>
<button class="btn btn-success" onclick="window.location.assign('/Home/Instruction')">Продолжить</button>
<style>
    .p-style{
        font-size: 40px;
        text-align:center
    }
    .h1-styles{
        color: navy;
        text-align:center;
    }
</style>

