
@{
    ViewData["Title"] = "Results";
}
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>


<h1 class="h1-styles">Результаты</h1>
<table class="table">
    <thead>
        <tr class="table-warning">
            <th>Номер задания</th>
            <th>Ваш ответ</th>
            <th>Правильный ответ</th>
            <th>Кол-во баллов</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-primary">
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>3/5</td>
        </tr>
    </tbody>
</table>




<style>
    .h1-styles{
        color: navy;
        text-align:center;
    }
</style>