
@{
    ViewData["Title"] = "Главная";
}
    <body class="body-style">
        <div class="main-text">
            <h1 style="text-align:center; color:white">Привет!</h1>
            <p class="main">Этот сайт поможет вам подготовиться к ОГЭ по информатике. Мы постарались повторить интерфейс программы ОГЭ.</p>
        </div>
        <a href="/Home/Confirmation"><p class="subjects">Информатика</p></a><a href="/Home/Info">Подробнее об экзамене</a>
    </body>

<style>
    .main-text{
        background-image:url(https://www.tokkoro.com/picsup/2903961-pattern___abstract-wallpapers.jpg);
        height: 320px;
        text-align:center;
    }
    .main{
        color:white;
        font-size:30px;
    }
    .subjects {
        color: white;
        font-size: 34px;
        margin-top: 30px;
        border-left: 6px solid blue;
        background-color: cornflowerblue;
    }
    .body-style{
        background-image:url(https://i.pinimg.com/originals/f5/e7/73/f5e773f77a32bac74c9e98d4c3512ba5.jpg)
    }
</style>


